<div class="container">
    <h3>Arbitrer un match</h3>
    <hr />

    <!-- Formulaire -->
    <form novalidate="novalidate" class="form">
        <div class="form-group">
            <label class="control-label" for="inputMatchDate">Date du match:</label>
            <input type="text" id="inputMatchDate" ng-model="match.date" class="form-control datepicker" data-date-format="mm/dd/yyyy" />

           	<label class="control-label" for="inputLocalTeamName">Nom de l'équipe locale:</label>
           	<input type="text" id="inputLocalTeamName" ng-model="match.localTeamName" class="form-control" />
           	
           	<label class="control-label" for="inputVisitorTeamName">Nom de l'équipe visiteuse:</label>
           	<input type="text" id="inputVisitorTeamName" ng-model="match.visitorTeamName" class="form-control" />

			 <label class="control-label" for="inputFirstName">Prénom de l'arbitre:</label>
            <input type="text" id="inputFirstName" ng-model="official.firstName" class="form-control" />

            <label class="control-label" for="inputLastName">Nom de famille de l'arbitre:</label>
            <input type="text" id="inputLastName" ng-model="official.lastName" class="form-control" />

            <br />
   
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-default">Annuler</a>
                <a ng-click="arbitrate()" class="btn btn-primary">Arbitrer</a>
            </div>
        </div>
    </form>
</div>

<script>
  $('.datepicker').datepicker()
</script>
