<div class="container">
    <h3>Nouveau joueur</h3>
    <hr />

    <!-- Formulaire -->
    <form novalidate="novalidate" class="form">
        <div class="form-group">
            <label class="control-label" for="inputFirstName">Prénom:</label>
            <input type="text" id="inputFirstName" ng-model="player.firstName" class="form-control" />

            <label class="control-label" for="inputLastName">Nom de famille:</label>
            <input type="text" id="inputLastName" ng-model="player.lastName" class="form-control" />

            <br />
            <h4>Si vous voulez attribuer une équipe a ce joueur, remplir les informations plus bas</h4>
            <label class="control-label" for="inputTeamSelection">Équipe:</label>
            <select ng-options="team.name for team in teams" ng-model="player.teamid" class="form-control">
              <option value="">Choisir une équipe</option>
            </select>

            <label class="control-label" for="inputNumber">Numéro:</label>
            <input type="text" id="inputNumber" ng-model="player.number" class="form-control" />

            <label class="control-label" for="inputDateBegin">Date de début:</label>
            <input type="text" id="dateBegin" ng-model="player.dateBegin" class="form-control datepicker" data-date-format="mm/dd/yyyy" />

            <div class="controls">
                <a ng-click="cancel()" class="btn btn-default">Annuler</a>
                <a ng-click="createPlayer()" class="btn btn-primary">Créer le joueur</a>
            </div>
        </div>
    </form>
</div>
