<div class="container">
    <h3>Mise à jour du pointage d'un match</h3>
    <hr />

    <!-- Show an alert if the score update was a success ! -->
    <div ng-show="updateScoreSuccess" class="alert alert-success" role="alert" class="ng-hide"><b>Succès !</b> - Le pointage a été mis a jour avec succès.</div>
    <div ng-show="updateScoreError" class="alert alert-danger" role="alert" class="ng-hide"><b>Erreur !</b> - Une erreur c'est produite lors de la mise à jour du pointage.</div>

    <p>
      Match entre {{match.teamLocal.name}} et {{match.teamVisitor.name}}
    </p>

    <!-- Formulaire -->
    <form novalidate="novalidate" class="form">
        <div class="form-group">
            <label class="control-label" for="inputLocalScore">Équipe locale:</label>
            <input type="text" id="inputLocalTeam" ng-model="match.localTeamScore" class="form-control" />

            <label class="control-label" for="inputVisitorScore">Équipe visiteur:</label>
            <input type="text" id="inputVisitorTeam" ng-model="match.visitorTeamScore" class="form-control" />

            <div class="controls">
                <a ng-click="cancel()" class="btn btn-default">Retour à la liste</a>
                <a ng-click="updateScore()" class="btn btn-primary">Enregistrer</a>
            </div>
        </div>
    </form>
</div>
