<div class="container">
    <h3>Nouvelle équipe</h3>
    <hr />

    <!-- Formulaire -->
    <form novalidate="novalidate" class="form">
        <div class="form-group">
            <label class="control-label" for="inputName">Nom de l'équipe:</label>
            <div class="controls">
                <input type="text" id="inputName" ng-model="team.name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputFieldName">Nom du terrain:</label>
            <div class="controls">
                <input type="text" id="inputFieldName" ng-model="team.field.name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputFieldAddress">Adresse du terrain:</label>
            <div class="controls">
                <input type="text" id="inputFieldAddress" ng-model="team.field.address" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-default">Annuler</a>
                <a ng-click="createTeam()" class="btn btn-primary">Créer l'équipe</a>
            </div>
        </div>
    </form>
</div>
