<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Liste de toutes les équipes</h3>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <a ng-click="importTeam()" class="btn btn-default" style="margin-top: 10px;">Importer une équipe</a>
      <a ng-click="createNewTeam()" class="btn btn-default" style="margin-top: 10px;">Créer nouvelle équipe</a>
    </div>
  </div>
  <hr />

  <!-- Show an alert if the deletion was a success ! -->
  <div ng-show="deleteWorked" class="alert alert-success" role="alert" class="ng-hide"><b>Succès !</b> - L'équipe a été retiré de la base de données.</div>

  <!-- Show all the teams -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th style="min-width: 20px;">ID</th>
        <th style="min-width: 20px;">Nom</th>
        <th style="min-width: 20px;">Nom terrain</th>
        <th style="min-width: 20px;">Adresse terrain</th>
        <th style="width:10px;">&nbsp;</th>
        <th style="width:10px;">&nbsp;</th>
        <th style="width:10px;">&nbsp;</th>
        <th style="width:10px;">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="team in teams">
        <td>{{ team.id }}</td>
        <td>{{ team.name }}</td>
        <td>{{ team.field.name }}</td>
        <td>{{ team.field.address }}</td>
        <td><a ng-click="viewTeam(team.id)" class="btn btn-xs btn-success">Détails</a></td>
        <td><a ng-click="viewTeamMatchs(team.id)" class="btn btn-xs btn-primary">Parties</a></td>
        <td><a ng-href="/rest/team/{{team.id}}/xml" class="btn btn-xs btn-primary">XML</a></td>
        <td><a ng-click="deleteTeam(team.id)" class="btn btn-xs btn-danger">Supprimer</a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
