<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Liste de toutes les équipes</h3>
    </div>
    <div class="col-md-1 col-md-offset-7">
      <a ng-click="createNewTeam()" class="btn btn-default" style="margin-top: 10px;">Créer nouvelle équipe</a>
    </div>
  </div>
  <hr />

  <!-- Show an alert if the deletion was a success ! -->
  <div ng-show="deleteWorked" class="alert alert-success" role="alert" class="ng-hide"><b>Succès !</b> - L'équipe a été retiré de la base de données.</div>

  <!-- Show all the teams -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th style="min-width: 80px;">Nom</th>
        <th style="min-width: 80px;">Nom terrain</th>
        <th style="min-width: 20px;">Adresse terrain</th>
        <th style="width:20px;">&nbsp;</th>
        <!--<th style="width:20px;">&nbsp;</th>-->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="team in teams">
        <td>{{ team.name }}</td>
        <td>{{ team.field.name }}</td>
        <td>{{ team.field.address }}</td>
        <td><a ng-href="/rest/team/{{team.id}}/xml" class="btn btn-xs btn-primary">XML</a></td>
        <!--<td><a ng-click="deletePlayer(player.id)" class="btn btn-small btn-danger">Supprimer</a></td>-->
      </tr>
    </tbody>
  </table>
</div>
</div>
