<div class="container">
    <h3>Détails sur l'équipe "{{ team.name }}"</h3>
    <hr />

	<!-- Show all the teams -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th style="min-width: 20px;">Prénom</th>
        <th style="min-width: 20px;">Nom</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in players" id="player-{{player.id}}">
        <td>{{ player.firstName }}</td>
        <td>{{ player.lastName }}</td>
      </tr>
    </tbody>
  </table>

  <div class="form-group">
	  <div class="controls">
    	  <a ng-click="cancel()" class="btn btn-default btn-small">Retour à la liste des joueurs</a>
      </div>
  </div>
</div>
